body{
    background-color: #242525;
    display:flex;
    align-items: center;
    flex-direction:column;
    border:13px dotted #242525;
}
h1{
color:#f3f2f7;
}
    form{
        background-color: rgb(245, 236, 237);
         padding:0; 
        margin-top:130px;
        margin-bottom: 100px;
        border:10px double rgb(106, 20, 243);
    }
form input {
background-color: rgb(178, 221, 231);
color:rgb(10, 10, 10);
margin-bottom: 10%;
margin-left:350px;
border: 5px double green;
border-radius: 0;
width: 200px;
padding: 13px;
float: left;
font-size: 16px;
}
.container{
  margin-top:50px;
}
ul{
  list-style: none;
  width: 450px;
  margin-left:350px;
}
 li{
  width:100%;
  background: rgb(238, 84, 84);
  height: 40px;
  line-height:40px;
  padding:0 5px;
  display:block;
  cursor: pointer;
 margin:5px 0;
 transition: 0.3s linear;
  position: relative;
  box-shadow: #f58529; 
}
li span{
  position:absolute;
  top:0;
  padding:0 5px;
  right:0;
  width:50px;
  text-align:center;
  background:red;
}

.block{
    display: block;
    width: 250px;
    border: none;
    background-color: #04AA6D;
    color: rgb(44, 18, 147);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border:5px double darkcyan;
  }

  .block:hover {
    background-color: rgb(243, 209, 55);
    color: rgb(92, 25, 216);
  }